body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: -5px;
  }
  
  h1 {
    margin-top: 20px;
  }
  
  #data {
    margin: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  #data p {
    display: flex;
    align-items: center;
    font-size: 18px;
    margin: 0 18% 0 ;
  }
  
  .charts-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 50px;
  }
  
  .chart {
    width: 700px;
    height: 350px;
  }
  
  .chart h2 {
    text-align: center;
  }
  /* Media query para pantallas pequeñas (móviles) */
  @media (max-width: 768px) {
    body {
      margin-top: -100px;
    }
  
    .charts-container {
      flex-direction: column;
      margin-top: 50px;
    }
  
    .chart {
      width: 80%; /* Ajusta el tamaño de los gráficos en dispositivos móviles */
      margin: 0 auto; /* Centra los gráficos */
    }
  
    #data {
      flex-direction: column;
    }
  
    #data p {
      font-size: 16px;
      margin-bottom: 10px;
    }
  }
  