@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/* Estilo general */
body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #4A8A26;
}

/* Contenedor del LCD */
.lcd-container {
  transform: scale(3);
  background-color: #7F7F7F;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Diseño del LCD */
.lcd {
  width: 320px;
  height: 140px;
  background-color: #0e5ed7;
  border: 5px solid #7F7F7F;
  border-radius: 5px;
  padding: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  color: #d3f0df;
  font-family: 'Press Start 2P', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Estilo del texto */
.lcd p {
  font-size: 1em;
  margin: 10px 0;
}

.lcd span {
  font-weight: bold;
}

/* Botón de retorno (ahora es un enlace) */
.back-button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  font-family: 'Press Start 2P', sans-serif;
  font-size: 12px;
  text-decoration: none; /* Quitar subrayado del enlace */
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease;
  align-self: center; /* Centrado horizontal en el contenedor */
  text-align: center;
}

.back-button:hover {
  background-color: #45a049;
}

/* Escalado para dispositivos pequeños */
@media (max-width: 970px) {
  .lcd-container {
    transform: scale(0.9);
  }
}
